* {
    padding: 0;
    margin: 0;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    overflow: hidden;
}

body {
    background-color: white;
}

.boshtech {
    position: absolute;
    bottom: 10px;
    right: 10%;
    font-weight: 700;
}

.home {
    height: 100vh;
    background: url(../images/census\ logo.jpg), white;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

.logo {
    color: #409be0;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.boshtech span {
    color: #409be0;
}

.container {
    width: 80%;
    height: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 30%;
}

.card p {
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    margin: 10px 0;
}

.card p:hover {
    cursor: pointer;
    box-shadow: 5px 5px 22px rgba(59, 59, 59, 0.671);
}

@media(max-width: 601px) {
    .container .card {
        height: 30%;
        width: 100%;
        background:#409be08a;
        margin: 10px 0;
        border-radius: 10px;
    }

    .card {

    }

    .card img {
        width: 20%;
    }
}

@media(min-width: 601px) {

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .card {
        height: 50%;
        width: 100%;
        background:#409be08a;
        margin: 0 10px;
        border-radius: 20px;
        transition: .8s;

    }

    .card:nth-of-type(2) {
        transform: scale(1.3);
    }

    .card:nth-of-type(2):hover {
        transform: scale(1.5);
    }
    .card:nth-of-type(1):hover {
        transform: scale(1.2);
    }
    .card:nth-of-type(3):hover {
        transform: scale(1.2);
    }
}


/* chalatant  */